{% extends 'base/base.html' %}

{% block title %}
    <h2>{{document.title}}</h2>
    <hr style="background-color:lightgray;">
{% endblock %}

{% block content %}
    <div class="article-content mb-5">
    <p>{{document.content|safe}}</p>
    
    {% if document.file %}
    <div align="center">
        <a class="ui button massive gallerypdf" data-fancybox-type="iframe" href="{{document.get_file_or_none|default_if_none:'#'}}">Görüntüle</a>
    </div>
    {% endif %}
    </div>
    <hr style="background:lightgray;">

    

    <script>
        $(document).ready(function() {
            $(".gallerypdf").fancybox({
                openEffect: 'elastic',
                closeEffect: 'elastic',
                autoSize: true,
                type: 'iframe',
                iframe: {
                    preload: false // fixes issue with iframe and IE
                }
            });
        });
    </script>
    
{% endblock %}

