{% extends 'base/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    <h3>Ana Sayfayı Güncelle</h3>
    <hr>
{% endblock %}

{% block content %}
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ formset.management_form }}
    {{ main_form.media }}
    {{ main_form|crispy }}
    {{ main_image_form.as_p }}
    
    {% for form in formset %}
        {{ form }}
        <hr>
    {% endfor %}
        

    <button class="ui button inverted blue">Submit</button>
</form>
{% endblock %}
