
body{
    background-color: #15202B;
    color: whitesmoke;
}
.login-form{
    border: 1px outset lightgray;
    padding: 50px;
    border-radius: 10px;
}
.select2-results{
    color:black;
}
.form-control{
    color: black !important;
}

.on-page{
    color: #16c7ff !important;
    text-shadow:0px 0px 10px rgba(22, 199, 255, 0.5);
}
.on-active{
    color: #b8bfce !important;
}
.on-show{
    display: block !important;
}
.card-bg{
    background-color: rgb(180, 180, 180);
    color:black;
}
.select2-selection__choice__display{
    color:black;
}
